{% extends "base.html" %}

{% block title %}Leaderboard | Zhubeautycare{% endblock %}

{% block content %}

<section class="section-padding text-center">
  <div class="container">
    <h2 class="fw-bold mb-5">Top Customer</h2>

    <div class="leaderboard-box mx-auto">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Nama</th>
            <th>Total Belanja</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>
              {% if loop.index == 1 %} 🥇
              {% elif loop.index == 2 %} 🥈
              {% elif loop.index == 3 %} 🥉
              {% else %} {{ loop.index }}
              {% endif %}
            </td>
            <td>{{ customer.name }}</td>
            <td>
              Rp {{ "{:,.0f}".format(customer.total_spent|float) }}
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3">Belum ada data</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </div>
</section>

{% endblock %}